// @import "fonts";
@import "nullstyle";

body {
   color: red;
   text-align: center;
   font-size: 55px;
}
h2 {
   color: green;
}
.content{
   font-size: 32px;
   text-transform: uppercase;
   color: blue;
   font-weight: 700;
   font-family: serif;
}
